<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967625521580-n7vt3kgvf69be62i4he9pa5db9jrrfui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967625521580-n7vt3kgvf69be62i4he9pa5db9jrrfui</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967625521580-qo2htevitjv9d739vm6d3osqpeb0dg2c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzr1l9mzJ-MYZV1RJ9vYTDCxZgUGAHoMs</string>
	<key>GCM_SENDER_ID</key>
	<string>967625521580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abs.AI.authenticationTask</string>
	<key>PROJECT_ID</key>
	<string>social-app-df766</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-df766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967625521580:ios:70dfebe3375e33fd692209</string>
</dict>
</plist>